.chat-container {
  overflow: auto;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  background-color: rgba(119, 119, 119, 0.301);
}

.message-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.align-message {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  width: 100%;
}

.username {
  font-weight: bold;
  color: #337ab7;
  margin-bottom: 5px;
}

.message-text {
  color: #333;
  padding: 5px;
}

.message-form {
  display: flex;
  align-items: center;
}

input.message-input,
button.message-submit {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

button.message-submit {
  width: 10%;
}

.align-content {
  width: 100%;
  height: 90vh;
  margin: 40px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.delete-content {
  padding: .5rem;
  cursor: pointer;
}

.newText{
  display: grid;
}

.newText input{
  padding: .5rem;
  border-radius: 4px;
  border: solid 1px;
}